
/* Reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Start */

body{
    background: rgb(46,43,43);
background: linear-gradient(90deg, rgba(46,43,43,1) 0%, rgba(62,59,59,1) 50%);
}

.hero{
    background-image: url("images/imagenCentral.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card{
    background: transparent;
    color: aliceblue;
    border: none;
}

.separator{
    min-height: 4em;
    color: aliceblue;
}



footer{
    background: #1B1919;
    color: aliceblue;
}

footer h3{
    color: #D5AC8C
}

.productos{
    background: #000000;
}

img{
    
}




